body{
	background: #fffbe5 url(img/texture_1.png) center;
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 15px; 
	padding: 20px; 
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
a {
	text-decoration: none;
}

input{
  padding: 0;
	float: right;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 3px;
}
.container
{
	width: 100%; 
	margin: 0 auto;
	max-width: 1400px
}
.header__inner_top {
	display: flex; 
	justify-content: space-between; 
	background-color: #fff; 
	align-items: center;
}
.header_logo {
	padding-left: 35px;
	position: relative;
}
.nav {
	display: flex;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}
.nav_link {
	margin-left: 35px; 
	color:#333; 
}
.nav_link:hover{
	color: red;
}
.nav_link:first-child
{
	margin-left: 0;
}
.site_search {
	display: flex;
	align-items: center;
}
.button_search {
	background-color: #333;
	margin: 0 5px;
}
.line {
	border-bottom: solid 2px rgb(255, 153, 0);
}
.header_inner_bot {
	display: flex; 
	justify-content: space-between; 
	margin: 0;
	background-color: #fff
}
.categories {
  width: 940px;
	height: 32px;
  padding: 17px 0;
  border-top: 1px solid rgb(255, 153, 0);
}
.dropdown {
	position: relative;
}
.dropdown-content {
	display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
	top:100%;
	margin: 5px;
	left:0;
	text-transform: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover {background-color: rgb(255, 153, 0);}
.categories > ul{
	list-style-type: none;
}
.categories > ul >.dropdown > li > a{
	margin-left:25px;
	color:rgb(255, 153, 0);
}
.categories > ul >.dropdown > li > a:hover{
	background-color: rgb(255, 153, 0);
	color: black;
	padding: 5px 10px;
}

.button_shopping_cart {
	display: flex;
	align-items: center;
	padding: 20px 20px;
	color: #333;
	cursor: pointer;
}
.modal {
	display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal_header {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #dee2e6;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal_header_title {
	font-size: 22px;
}
.modal_main {
	position: relative;
	padding: 20px;
	align-items: right;
}

.modal_main_content {
	text-align: right;
	font-weight: bold;
	font-size: 20px;
}
.fullprice {
	margin-top: 20px;
}
.modal_footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 15px;
	border-top: 1px solid #dee2e6;
}

#agree {
	display: none;
	background-color:rgb(255, 153, 0);
	color: #fff;
	padding: 10px 30px;
	border-radius: 5px; 
	margin: 0 20px 0 60px;
	cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.button_shopping_cart > i {
	font-size:20px;
}
.button_shopping_cart:hover{
	color: rgb(255, 153, 0);
}
.intro > .container {
	background: #def5d0 url(img/~intro_texture.png) center no-repeat;
}
.intro_inner {
	display: flex; 
	justify-content: space-between; 
	margin: 0 auto; 
	align-items: center;
}
.intro_product_info {
	padding: 50px 0px 20px 20px;
}
.intro_product_info > ul {
	font-size: 17px;
	line-height: 30px;
}
.intro_product_info > h2 > a{
	color:#333;		
}
.intro_product_info > h2 > a:hover {
	color:rgb(255, 153, 0);			
}
.btn_next_prev {
	margin-top: 150px;
}
.btn_next_prev > a {
	background-color: rgb(255, 153, 0); 
	color: white; 
	padding: 5px 5px;
	cursor: pointer;
}

.intro_product_icon {
  width:300px; 
	height: 270px; 
	margin: 40px 10px 0px 0px;
}
.intro_product_price {
	font-size: 35px;
	text-align: center;
}
.content > .container { 
	background-color:#fbfbfe;
	min-height: 600px;
}
.special { padding:20px}
.title { border-bottom: 1px solid rgb(255, 153, 0);}
.title > span { color: rgb(255, 153, 0) ;}
.special_product_list {
	display: flex; 
	justify-content: space-between;  
	flex-wrap: wrap;
	padding: 20px 20px; 
	align-items: center
}
.special_product_item {
	width:270px; 
	border: 1px solid gray; 
	border-radius: 10px; 
	background-color: #fff; 
	padding: 20px;
	margin-bottom: 10px;
}

.product_icon {
	width: 270px; height: 270px;
	margin-bottom: 10px;	
}

.special_product_item > h3{
	margin: 10px 0px
}
.special_product_item > h2{
	margin-bottom: 20px; 
}

.s_button_add_to_cart {
	display: inline-flex;
	background-color:rgb(255, 153, 0);
	color: #fff;
	padding: 10px 30px;
	border-radius: 5px; 
	margin: 0 20px 0 60px;
}
.features {
	display: flex; 
	justify-content: space-between;
	text-align: center;
	line-height: 1.5; 
	padding: 20px 30px
}
.features_item {
	width: 23%
}
.footer > .container {
	background-color:#def5d0;
}
.container > .header_logo {
	padding:20px;
}
.footer_inner {
	display: flex; 
	justify-content: space-between;
	padding: 0px 20px;
}
.footer_menu {
	display: flex; 
	justify-content: left; 
	padding-bottom: 20px;
}
.menu_item {
	display: flex; 
	flex-direction: column; 
	padding-left:40px; 
	padding-right: 10px;
}
.footer_menu_item {
	margin-left: 0; 
	margin-bottom: 10px;
}

.footer_sitebar {
	padding-right: 20px; 
	width: 300px;
}
.contacts {
	display: flex;
	font-size:17px
}
[href="product.html"] {
	color:#333
}
[href="product.html"]:hover {
	color:rgb(255, 153, 0)
}
.contacts_title {
	color:blue;
	font-weight: bold;
	font-size:18px;
	margin-bottom:20px
}

svg {
  width: 100%;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
}
.social {
	width:200px;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding:0;
	font-size: 20px;
}
.social_items {
	color:#333;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 5px solid #333;
}
.social_items > a {
	color:#333
}
.social_items > a:hover {
	color:rgb(255, 153, 0)
}
.social_items:hover {
	border-color:rgb(255, 153, 0)
}
/* shopping_cart content */
.breadcrumbs {
	margin-bottom: 15px;
	font-size: 11px;
}
.breadcrumbs > a {
	color: #333;
}
.breadcrumbs > a:hover {
	color: rgb(255, 153, 0);
}
.breadcrumb {
	padding: 30px 0px 30px 20px;
	flex-direction: column;
	align-items: flex-start;
}

.shopping_cart_info {
	padding: 30px 20px;
	display: flex;
	flex-wrap: wrap;
}
table , th , td {
	border-collapse: collapse;
	padding: 10px;
	text-align: center;
}
input {
 font-family: inherit;
	
}
.table {
	border-bottom:1px solid #dee2e6;
	width: 100%;
	font-size: 13px;
}
.table th {
	background-color: #eee;
}
.table th, .table td {
	border-bottom: #eee 1px solid;
	font-weight: bold;
}
.table tr:nth-child(odd){background-color: #eee;}
.table tr:hover {background-color: #eee;}
.table > caption {
	font-size: 25px;
	margin: 10px 0;
}
.quan {
	margin: 0;
}
.quantity {
	float: left;
	font-size: 25px;
}
.znak,.del {
	font-size: 20px;
	cursor: pointer;
	border:rgb(255, 153, 0) 1px solid;
	border-radius: 3px;
	padding: 4px 5px 0px 5px;
	background-color: #fff;
	margin: 0 5px;
}
.minus {
	float: left;
	margin: 0 5px;
}
.plus {
	float:left;
	margin: 0 5px;
}

.znak:hover,.del:hover {
	background-color: rgb(255, 153, 0);
	color:#fff;
}
.tab_input:hover {
	background-color: #fff;
}
.price {
	width: 200px;
	display: flex;
	justify-content:  space-between;
	padding: 20px 50px;
	font-size: 20px;
	
}
.price > span {
	color: rgb(255, 153, 0);
	font-size: 24px;
}
.confirm {
	margin:50px;
}

/* obtekanie */
.texts > img {
	margin: 20px;
	float:left;
}
.canvas {
  border: 1px solid black;
}
.mac {
	color: red;
}
#list1, #list2{
	display: none;
} 
.win-size-grip {
	width: 16px;
	height: 16px;
	padding: 4px;
	bottom: 0;
	right: 0;
	cursor: nwse-resize;
	background: url(node_modules/jquery-resizable-dom/assets/wingrip.png) no-repeat;
}











